*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
    scroll-snap-align:start ;
    scroll-behavior: smooth;
    background: var(--primary-color);

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey; 
    border-radius: 10px;
    scroll-behavior: smooth;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-color); 
    border-radius: 10px;
    scroll-behavior: smooth;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
  }

html,body{
    scroll-behavior: smooth;
    background:var( --primary-color) ;
    /* user-select: none; */
    /* user-zoom:none ; */
    /* animation: fade 1s ease-out 2s; */

}

:root{
    --primary-color: white;
    --secondary-color:black;
    --third-color:white;
    --fourth-color:black;
    --fifth-color:#444;
    --gotop-color: :linear-gradient(rgba(255,255,255,0.7));
    --writings-color:white;
    --subproj-color:rgba(255, 250, 250,0.5);
    --navback-color:linear-gradient(rgba(0, 0, 0, 0.5),rgba(92, 90, 90, 0.7));

    --logoback-color:linear-gradient(145deg, #eeeeee, #c8c8c8);
    --logobox-color: 8px 8px 16px #bdbdbd,
    -8px -8px 16px #ffffff;
    --mybtnbox-color: 5px 5px 9px #666666,
    -5px -5px 9px #ffffff;
    --movbox-color:9px 9px 18px #828282,
    -9px -9px 18px #ffffff;

    --scroll-color:rgba(0, 0, 0, 0.548); 

}
.dark-theme{
    --primary-color: black;
    --secondary-color:white;
    --third-color:#222;
    --fourth-color:#00000071;
    --fifth-color:rgba(158, 158, 158, 0.356);
    --gotop-color:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6));
    --writings-color:rgba(255, 255, 255, 0.5);
    --subproj-color:rgb(182, 179, 179);
    --navback-color:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));

     --logoback-color:linear-gradient(145deg, #000000, #000000);
     --logobox-color:   0px 0px 5px 5px #5a5a5a;
     --mybtnbox-color: 0px 0px 5px 5px #242424;
     --movbox-color:0px 0px 0px 0px #000000;
     --scroll-color:rgba(255, 255, 255, 0.37); 


}
#icon{
    width: 35px;
    cursor:  pointer;
    position: fixed;
    display: inline-block;
    top: 4%;
    right: 2%;
    background: white;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 0px 5px 2px var(--secondary-color);
    transition: 1s ease-in-out;
}
#icon:checked{
    background: url(../images/sun.webp);
    z-index: 6;
    position: fixed;
    width: 35px;
    cursor: pointer;
}
#icon:hover{
    box-shadow: 0px 0px 10px 10px var(--secondary-color);
    transition: 1s ease-in-out;
}




/* Preloader */


h1,h2,h3,h4{
    transition: .3s;
}
h1,h2,h3,h4:hover{
    /* animation: colorful 5s linear infinite; */
    letter-spacing: 3px;
    text-shadow: 0px 3px 3px var(--scroll-color);
}

/* PAGE 1  */
.page1,#page3{
    display: flex;
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#self_image{
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-85%);
    border-radius: 50%;
    position: absolute;
    border: none;
    object-fit: cover;
    background-size: cover;
    outline: none;  
    z-index: 50;
    transition: 1s;
    animation: dark_breath 4s ease-in-out infinite;
}
#self_image:hover{
    transform: translate(-50%,-90%);
    animation: breathing 4s ease-in-out infinite ;
}


@keyframes dark_breath {
    0%{
        /* box-shadow: 0 0px 10px 22px rgba(0, 0, 0, 0.7);  */
        box-shadow: 
        0 0px 20px 25px var(--fifth-color),
        0 0px 10px 5px rgba(17, 22, 16, 0.5),
        0 0px 10px 5px rgba(18, 9, 27, 0.3); 

    }
    50%{
        /* box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.8);  */
        box-shadow: 
        0 0px 20px 25px rgba(122, 121, 121, 0.15),
        0 0px 10px 2px var(--fifth-color),
        0 0px 10px 2px rgba(0, 0, 0, 0.5); 

    }
    100%{
        /* box-shadow: 0 0px 10px 20px rgba(0, 0, 0, 0.9);  */
        box-shadow: 
        0 0px 10px 25px  var(--fifth-color),
        0 0px 10px 5px rgba(25, 25, 26, 0.5),
        0 0px 20px 20px rgba(0, 0, 0, 0.9); 

    }
}


@keyframes breathing {
    0%{
        /* box-shadow: 0 0px 10px 22px rgba(0, 0, 0, 0.7);  */
        box-shadow: 
        0 0px 10px 5px rgba(31, 147, 4, 0.3),
        0 0px 10px 2px rgba(250, 5, 119, 0.3),
        0 0px 15px 15px rgba(115, 1, 246, 0.3); 

    /* transform: translate(-50%,-80%); */
    }
    50%{
        /* box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.8);  */
        box-shadow: 
        0 0px 15px 2px rgba(0, 84, 252, 0.3),
        0 0px 10px 2px rgba(2, 19, 82, 0.3),
        0 0px 15px 15px rgba(250, 5, 5, 0.3); 

    /* transform: translate(-50%,-85%); */
    }
    100%{
        /* box-shadow: 0 0px 10px 20px rgba(0, 0, 0, 0.9);  */
        box-shadow: 
        0 0px 20px 5px rgba(134, 10, 176, 0.3),
        0 0px 20px 5px rgba(0, 17, 252, 0.3),
        0 0px 10px 15px rgba(5, 229, 250, 0.3); 

    /* transform: translate(-50%,-80%); */
    }
}


#my_name{
    position: relative;
    display: inline;
    z-index: 1;
    color: var(--secondary-color);
    margin-top: 30%;
    width: 100%;
    height: auto;
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: 3px 3px 5px var(--scroll-color);
    animation: fade 3s ease-in-out infinite;
}

@keyframes fade{
    0%{
        opacity: 0.7;
    text-shadow: 0px 10px 13px var(--scroll-color);
    }
    50%{
        opacity: 1.0;
    text-shadow: 3px 3px 3px var(--scroll-color);

    }
    100%{
        opacity: 0.7;
    text-shadow: 0px 10px 13px var(--scroll-color);

    }
}
.social_accounts{
    position: relative;
    display: block;
    z-index: 1;
    color: var(--secondary-color);
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
.social_accounts a{
    font-size:2.5rem;
    margin: 0.7rem;
    /* color: var(--scroll-color); */
    color: var(--secondary-color);
    transition:0.5s ease-in;
    font-weight: 100;
    animation: fade 3s ease-in-out infinite;

}
.social_accounts a:hover
{
    font-weight: 900;
    font-size:2.8rem;
}

.roll{
    background: var(--primary-color);
    display: block;
    position: relative;
    margin: auto;
    height: auto;
    padding: 20px 0;
}

.writings{
   color: var(--writings-color);
    padding: 80px ;
    display: block;
    margin: auto;
    width:80%;
    position: relative;
    height: auto;
    opacity: 100%;
    transition: 1s ease-in-out;
    border-radius: 5px;
  /*  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7); */
  box-shadow:  5px 5px 10px #101010,
             -5px -5px 10px #424242;
    border: 10px  black;
    background-color: var(--fourth-color);
    animation: writing_anim 3s linear infinite;
    left:0;
}
.writings p{
    font-size: 2rem;
}
@keyframes writing_anim {
    0%{
        left: 3%;

    }
    50%{
        left: 0;
    }
    100%{
        left: 3%;
    }
}



/* ---------------------------PROJECTS----------------------------- */

.web{
    display: block;
    margin: 0% auto;
    width:80%;
    position: relative;
    border-radius: 5px
}
#webhead{
    color: var(--secondary-color);
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;    
}


.projects{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 50vh;
    margin: 0;
    width: 80%;
    /* background-size: fill; */
    position: relative;
    border-radius: 5px;
    padding: 10px;
    background-color:var(--third-color);
    box-shadow: 5px 6px 15px 5px var(--scroll-color);
    align-items:baseline;
    justify-content: center;
    transition: 1s ease-out;


}
.projects:hover{
    margin: 0;
    height: 120vh;
    box-shadow: 0px 0px 20px 5px var(--fourth-color);
    animation: none;
}

.projects img{
    max-width: 250px;
    max-height: 250px;
    /* padding: 10px; */
    margin: 5px;
    border-radius: 5px;
    background-size: fill;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    /* transform: scale(1); */
    overflow: hidden;
    z-index: 1;
    /* animation: fade 4s linear infinite ; */
    position: relative;

}
.bag{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bag a{
    transform: scale(1.0);
    z-index: 1;
    transition: .3s;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}
#view_more_proj{
    width: 100%;
    text-align: center;
    display: block;
    background: var(--scroll-color);
    backdrop-filter: blur(20px);
    color: var(--primary-color);
    padding: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
    box-shadow: 0px -10px 50px 5px var(--fourth-color);
}
.bag a:hover{
    transform: scale(1.3);
    border-radius: 10px;
    z-index: 50;
    font-weight: 900;
    color: #000000;
    background: 
    linear-gradient(
    rgba(255,255,255,0.5),
    rgba(120, 120, 120, 0.3),
    rgba(248, 248, 248, 0.715));
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 20px 5px var(--scroll-color);
    
}




/* ---------------------------------------Movies-------------------------------- */


.movie{
    padding-left: 5% ;
    padding-right: 5%;
    display: block;
    margin: 3% auto;
    width:80%;
    height: 70vh;
    position: relative;
    transition: 2s;
    border-radius: 5px;
    background-color:var(--third-color);
    box-shadow:  var(--movbox-color);

}
.movie:hover{
    box-shadow:0 0 50px 10px  var(--scroll-color);

}

.movie h4{
    color: var(--secondary-color);
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;

    
}
@keyframes colorful {
    0%{
    color: rgb(3, 139, 155);
    }
    50%{
        color: rgb(3, 23, 113);
    }   
    100%{
    color: rgb(227, 144, 0);
    }
}

.movie iframe{
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 0 5px 5px var(--secondary-color);
    height: 60%;
    width: 40%;
    

}
#vid2{
    align-items: right;
    left: 53%;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 0 5px 5px var(--secondary-color);
    height: 60%;
    width: 40%;

}
iframe:hover{
    align-items: center;
    position: absolute;
    box-shadow: 0 0 15px 10px var(--secondary-color);
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
 
}

#vid2:hover{
    align-items:right;
    position: absolute;
    box-shadow: 0 0 15px 10px var(--secondary-color);
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
}
/* ------------------------------------- */

.pho{
    background: var(--primary-color);
    padding: 30px;

}

.nav-links ul li{
    display: block;
    height: auto;
    object-fit: scale-down;
    
}
nav ul h1{
    font-size: 7rem;
    color: white;
}
.nav-links ul li a{
    font-size: 3rem;
    font-weight: 600;

    text-decoration: none;
    color: var(--subproj-color);

}
.nav-links ul li a:hover{
    color: white;
}

.nav-links{
    position: fixed;
    background: var(--navback-color);
    backdrop-filter: blur(2rem);
    min-height: 100vh;
    width: 100%;
    margin-top: 0;
    top: 0;
    left: -100%;
    z-index: 100;
    transition:0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}
#menu{
    position: absolute;
    right: 3%;
    top: 3%;
    color: white;
    font-size: 3rem;

    -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        overflow: hidden;
    
}

#menu:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#close{
    position:fixed;
    top: 2%;
    left: 2%;
    z-index: 2;
    color: var(--secondary-color);
    
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        overflow: hidden;
}
#close:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
}


nav .fa{
    display: inline-block;
    color: var(--primary-color);
    margin: 10px;
    font-size: 32px;
    cursor: pointer;
    font-weight:bolder;


}
.nav-links ul{
    padding: 30px;
}



#s1{
    color: rgb(0, 255, 0);
}
#s3{
    font-size:40px ;
    color: rgb(0, 225, 255);
}




.photography{
    text-align: center;
    display:flexbox;
    flex-grow: 1;
    margin:0% auto;
    width:100%;
    opacity: 100%;
    transition: 2s;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.7);
    border: 10px  black;   
    background: var(--third-color);
    padding:4%;

}


.photography h4{
    color: var(--secondary-color);
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    position:relative;


    transition: 3s;
    
}

.mur{
    width:100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
    padding:0;

    
}
.mur iframe{
    position:relative;
    right:0;
    top:-5%;
    display: inline-block;
    flex-direction: column;
    width:1000px; 
    height:300px;
     border:0 none;
     border-radius:10px;
     margin:10px;


}

.column{
    float: left;
    width: 27%;
    padding: 15px;
    margin: 3%;
    overflow: hidden;


}
.row::after{
    content: "";
    clear:both;
    display: table;
    overflow: hidden;
}

.beach img{
    width:100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
    margin-bottom:10%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}

.rightop img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    margin-bottom: 15px;
    z-index: 1;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.9);
    margin-bottom: 25%;
    border-radius: 10px;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
#falls img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    margin-top: 2px;
    z-index: 1;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}.midown img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
    margin-bottom:25%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
#eye img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    margin-bottom: 20px;
    z-index: 1;
    margin-left: 0px;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}.leftop img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-bottom: 25%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}#milky img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    margin-top: 2px;
    z-index: 1;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
.rightbtm img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    z-index: 1;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 15%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}.leaves img{
    width:100%;
    position: relative;
    margin-top: 15%;
    transition:0.5s ease-in-out;
    z-index: 1;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.9);
    border-radius: 10px;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
#jog img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    padding-top: 10px;
    z-index: 1;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}




.beach img:hover{
   

    -webkit-transform: scale(0.95);
	transform: scale(0.95);
}

#jenk:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);

}

#tree:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);

}

#falls:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);

}

#eye:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.leftop img:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);
}

#lizard:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.leaves img:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);
}

#jog:hover{
    -webkit-transform: scale(0.95);
	transform: scale(0.95);
}
.photography p{
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 5px;
    text-decoration: none;

    transition: 3s;

}
#Bottom{
    background: var(--primary-color);
    padding: 30px;
}
.mylogo{
    text-align: center;
    display:flexbox;
    flex-grow: 1;
    margin:0px auto;
    width:100%;
    object-fit: scale-down;
    padding-bottom: 5%;

}
.mylogo img:hover{
    box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.15);
}
.mylogo img{
    width:30%;
    height: 30%;
    background:  var(--logoback-color);
    box-shadow: var(--logobox-color);
    transition: 0.3s;
    animation: logo 5s ease-out infinite;
}
@keyframes logo {
    0%{
        border-radius: 50%;
    }
    50%{
    border-radius: 10%;
    }
    100%{
    border-radius: 50%;
    }
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 0.5%;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background: var(--gotop-color);
    box-shadow:  var(--mybtnbox-color);
    color: var(--secondary-color);
    cursor: pointer;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(15px);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
  }
  
  #myBtn:hover {
    background: var(--secondary-color);
    transition: 0.5s ease-in-out;
    color: var(--primary-color);
  }

#copyright{
    color:var(--secondary-color);
    transition: 3s;
}

#more {
    font-size: 20px;   
}








 /*--------------media----query-------------------*/

 @media (max-width:500px){




    #icon{
        width: 1.5rem;
        cursor:  pointer;
        position: absolute;
        display: inline-block;
        right: 2%;
        top: 2%;
        margin: 15px;
        background: white;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0px 0px 5px 2px var(--secondary-color);
        transition: 1s ease-in-out;
        
       }
       #menu{
        position: absolute;
        text-align: right;
        right: 3%;
        top: 1%;
        color: rgb(219, 215, 215);
        font-size: 1.5rem;
        
    }
    #close{
    position:absolute;
    top: 2%;
    left: 2%;
    z-index: 2;
    color: var(--secondary-color);
    font-size: 1.5rem;
    }

} 
 @media (max-width:900px)
 {

    .page1{
        min-height: 100vh;
        height: 100%;
    }

    #self_image{
        max-width: 60%;
        max-height: 60%;
        width: auto;
        height: auto;
        left: 50%;
        top: 25%;
        transform: translate(-50%,-35%);
        border-radius: 50%;
        position: absolute;
        border: none;
        object-fit: cover;
        background-size: cover;
        outline: none;  
        z-index: 50;
        transition: 1s;
        animation: dark_breath 4s ease-in-out infinite;
    }
    #self_image:hover{
        transform: translate(-50%,-30%);
        animation: breathing 4s ease-in-out infinite ;
    }

    @keyframes dark_breath {
        0%{
            /* box-shadow: 0 0px 10px 22px rgba(0, 0, 0, 0.7);  */
            box-shadow: 
            0 0px 25px 5px var(--fifth-color),
            0 0px 5px 5px rgba(17, 22, 16, 0.5),
            0 0px 15px 5px rgba(18, 9, 27, 0.3); 
    
        }
        50%{
            /* box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.8);  */
            box-shadow: 
            0 0px 25px 25px rgba(122, 121, 121, 0.15),
            0 0px 10px 5px var(--fifth-color),
            0 0px 25px 2px rgba(0, 0, 0, 0.5); 
    
        }
        100%{
            /* box-shadow: 0 0px 10px 20px rgba(0, 0, 0, 0.9);  */
            box-shadow: 
            0 0px 10px 5px  var(--fifth-color),
            0 0px 5px 5px rgba(25, 25, 26, 0.5),
            0 0px 10px 10px rgba(0, 0, 0, 0.9); 
    
        }
    }
    
    
    

    #my_name{
        position: relative;
        display: inline;
        z-index: 1;
        color: var(--secondary-color);
        margin-top: 50%;
        width: 100%;
        height: auto;
        font-weight: 900;
        font-size: 2.0rem;
        text-shadow: 3px 3px 3px var(--scroll-color);
        animation: none;
    }
    
    .social_accounts{
        position: relative;
        display: block;
        z-index: 1;
        color: var(--secondary-color);
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }
    .social_accounts a{
        font-size:1.5rem;
        margin: 0.4rem;
        /* color: var(--scroll-color); */
        color: var(--secondary-color);
        transition:0.5s ease-in;
        font-weight: 100;
        animation: fade 3s ease-in-out infinite;
    
    }
    .roll{
        background: var(--primary-color);
        display: block;
        position: relative;
        margin: auto;
        height: auto;
        padding: 20px 0;
    }
    
    .writings{
       color: var(--writings-color);
        padding: 20px ;
        display: block;
        margin: auto;
        width:80%;
        position: relative;
        height: auto;
        opacity: 100%;
        transition: 1s ease-in-out;
        border-radius: 5px;
      /*  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7); */
      box-shadow:  5px 5px 10px #101010,
                 -5px -5px 10px #424242;
        border: 10px  black;
        background-color: var(--fourth-color);
        animation: writing_anim 3s linear infinite;
        left:0;
    }
    .writings p{
        font-size: 2rem;
    }
     .writings p{
         font-size: 15px;
         text-align: left;
    }
    
    .web{
        display: block;
        margin: 0% auto;
        width:80%;
        position: relative;
        border-radius: 5px
    }
    #webhead{
        color: var(--secondary-color);
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;    
    }


    .projects{
        display: block;
        flex-wrap: wrap;
        overflow: scroll;
        height: 80vh;
        margin: 0;
        width: 80%;
        /* background-size: fill; */
        position: relative;
        border-radius: 5px;
        padding: 10px;
        background-color:var(--third-color);
        box-shadow: 0px 0px 10px 2px #66666676;
        align-items:end;
        justify-content: center;
        transition: 1s ease-out;
    }
    .projects:hover{
        margin: 0;
        height: 80vh;
        box-shadow: 1px 1px 10px 2px #6666662e;
        animation: none;
    }

    .projects img{
        max-width: 250px;
        max-height: 250px;
        margin: 5px 0;
        border-radius: 5px;
        background-size: fill;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        /* transform: scale(1); */
        overflow: hidden;
        z-index: 1;
        /* animation: fade 4s linear infinite ; */
        position: relative;
        box-shadow: 0 2px 15px 2px var(--scroll-color);
    }
    
    .bag{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .bag a{
        transform: scale(1.0);
        z-index: 1;
        transition: .3s;
        text-decoration: none;
        color: var(--secondary-color);
        font-weight: 700;
        margin: 10px;
    }
    #view_more_proj{
        width: 100%;
        height: auto;
        text-align: center;
        display: inline-block;
        background: 
        linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5));   
        color: #ffffff;
        padding: 10px;
        text-decoration: none;
        position: relative;
        bottom: 0;
        right: 0;
        z-index: 10;
        box-shadow: 0px 0px 10px 2px var(--scroll-color);
    }
    .bag a:hover{
        transform: scale(1.0);
        border-radius: 10px;
        z-index: 50;
        font-weight: 900;
        color: #000000;
        background: 
        linear-gradient(
        rgba(205, 205, 205, 0.627),
        rgba(222, 222, 222, 0.3),
        rgba(255, 255, 255, 0.9));
        backdrop-filter: blur(3px);
        box-shadow: 2px 2px 20px 2px var(--scroll-color);
        
    }
    .movie{
        width: 95%;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 0 5px 5px rgb(0, 0, 0);
        margin:5% auto;
        min-height: 90vh;
        height:100%;
        overflow:hidden;
    
        border-radius: 5px;
        box-shadow: 0 0 5px 5px rgba(63, 63, 63, 0.7);
        border: 10px  black;
        background-color:var(--third-color);
  
       
    }


  
    .movie iframe{  
        position:relative;
        box-shadow: 0 0 5px 5px var(--scroll-color);
        border-radius: 5px;
        cursor: pointer;
        margin-top:5%;  
        margin-left: 5%;
        object-fit:scale-down; 
        height: 30vh;
        width: 90%;
      
       
    }
    
    #vid2{
        position:relative;
        margin-left: 5%; 
        width: 90%;
        height: 30vh;
        margin-top: 8%;  
        box-shadow: 0 0 5px 5px var(--scroll-color);
        border-radius: 5px;
        cursor: pointer;
        transition: 2s;
        object-fit: scale-down; 
        left: 0%;
        margin-bottom:5%;
        
    }
    iframe:hover{
        position:relative;
        box-shadow: 0 0 10px 5px var(--scroll-color);
        border-radius: 5px;
        cursor: pointer;
        margin-top:0%;  
        margin-left: 5%;
        object-fit:scale-down; 
        height: 30vh;
        width: 90%;
    }
    
    #vid2:hover{
        position:relative;
        margin-left: 5%; 
        width: 90%;
        height: 30vh;
        margin-top: 8%;  
        box-shadow: 0 0 10px 5px var(--scroll-color);
        border-radius: 5px;
        cursor: pointer;
        transition: 2s;
        object-fit: scale-down; 
        left: 0%;
        margin-bottom:5%;
    }
    
    


       .mylogo{
           text-align: center;
           display:flexbox;
           flex-grow: 1;
           margin: auto;
           width:100%;
           padding: 20px;
           object-fit: scale-down;
           padding-bottom: 10%;
           
       }
       .mylogo img{
           width:30%;
           height: 30%;
           border-radius: 62px;
           background:  var(--logoback-color);
           box-shadow: var(--logobox-color);
       
       }
       .name{
        width: 100%;
        position: relative;
        margin:0% auto;
    }
       #icon{
        width: 2rem;
        cursor:  pointer;
        position: absolute;
        display: inline-block;
        right: 1%;
        top: 2%;
        margin: 20px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0px 0px 5px 2px var(--secondary-color);
        transition: 1s ease-in-out;
        
       }
       #menu{
        position: absolute;
        text-align: right;
        right: 3%;
        top: 1%;
        color: rgb(219, 215, 215);
        font-size: 2rem;
        
    }
        #close{
        position:absolute;
        top: 3%;
        left: 2%;
        z-index: 2;
        color: var(--secondary-color);
        font-size: 2rem;
        }
       .nav-links{
        position: absolute;
        background: var(--navback-color);
        backdrop-filter: blur(15px);
        height: 100vh;
        width: 100%;
        margin-top: 0;
        top: 0;
        left: -100%;
        z-index: 100;
        transition:0.1s ease-in-out;
        overflow: scroll;
    }
       nav .fa{ 
        display: inline-block;
        position:absolute;
        color: var(--primary-color);
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
        font-weight:bolder;
       }
       nav ul h1{
        font-size: 4rem;
        color: white;
        margin-top: 10px;
    }
    .nav-links ul li a{
        font-size: 2rem;
        font-weight: 300;
        text-decoration: none;
        color: var(--subproj-color);
    
    }

  

    #s3{
        font-size: 20px;
    }
    
}


    @media(max-width:900px){
       
    }

   @media (max-width:900px){

    
    .mur iframe{
        position:relative;
        right:0;
        top:-5%;
        display: inline-block;
        flex-direction: column;
        width:300px; 
        height:200px;
         border:0 none;
         border-radius:10px;
        margin:5px;
    }

    /* width */
::-webkit-scrollbar {
    width: 2px;
    scroll-snap-align:start ;
    scroll-behavior: smooth;
    background: black
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
    scroll-behavior: smooth;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.548); 
    border-radius: 10px;
    scroll-behavior: smooth;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000c5; 
  }
    
}
@media (max-width:500px){
       
    .name{
        width: 100%;
        position: relative;
        margin-top: 40px;
        pointer-events: none;
    }
    .name h3{
        font-size: 20px;
        text-align: center;
        transition: 0.5s;
        background-color: transparent;
        color: var(--secondary-color);
        opacity: 90%;
    }
  
    .apps{
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 20px;
    }.apps a{
        display: inline-block;
        padding: 10px;
    }
    .apps .fa{
        font-size: 15px;
        color: var(--secondary-color);
        transition: 1s;
    }
    .apps .fa:hover{
        font-size: 20px;
        transform: translate(3%,-3%);
        transition: 1s;
    }
    button{
        width: 250px;
        position: relative;
        
      }
}
    /*media query until apps*/
    
 @media(max-width:300px){

    button{
      display:none;
      }
      
    nav ul h1{
        font-size: 2rem;
        color: white;
        margin-top: 40px;
    }
    .nav-links ul li a{
        font-size: 1rem;
        font-weight: 300;
        line-height:4rem;
        text-decoration: none;
        color: var(--subproj-color);
    
    }
    #icon{
        width: 1rem;
        cursor:  pointer;
        position: absolute;
        display: inline-block;
        right: 1%;
        top: 2%;
        margin: 20px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0px 0px 5px 2px var(--secondary-color);
        transition: 1s ease-in-out;
        
       }
       #menu{
        position: absolute;
        text-align: right;
        right: 3%;
        top: 1%;
        color: rgb(219, 215, 215);
        font-size: 1rem;
        
    }
    #close{
    position:absolute;
    top: 3%;
    left: 2%;
    z-index: 2;
    color: var(--secondary-color);
    font-size: 1rem;
    }
  
 }
@media (max-width:250px){
    .photography p{
        font-size:15px;
        color:var(--secondary-color);
    }
     .column{
        float: left;
        width: 100%;
        padding: 20%;
        margin:5% ;
    }

  }
   

  

  @media (max-width:900px){
    .photography{
        text-align: center;
        display:flexbox;
        flex-grow: 1;
        margin:0% auto;
        width:95%;
        transition: 0s;
        border-radius: 5px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.7);
        border: 10px  black;   
        background: var(--third-color);
        padding: 5px;
    
    }
    .column{
        float: left;
        width: 31%;
        padding: 3%;
        margin:1% ;
    }
    .photography p{
        font-size:20px;
        color:var(--secondary-color);
    }
 
  }

  @media (max-width:500px){
    .photography{
        text-align: center;
        display:flexbox;
        flex-grow: 1;
        margin:0% auto;
        width:100%;
        opacity: 100%;
        transition: 2s;
        border-radius: 5px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.7);
        border: 10px  black;   
        background: var(--third-color);
        padding: 10px;
    
    }

    .column{
        float: left;
        width: 32%;
        padding: 4%;
        margin:0.5% ;
        overflow: visible;
    }
    .row::after{
        content: "";
        clear:both;
        display: table;
        overflow: visible;
    }
    .photography h4{
        font-size: 25px;
        text-align: center;
        color: var(--secondary-color);
        position:relative;
        display:inline-block;
  }
  .photography p{
    font-size:15px;
    color:var(--secondary-color);
    opacity:70%;
}
.mur{
    display: none;
}


.beach img{
    width:100%;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
    margin-bottom:10%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}

#jenk img{
    width:100%;
    position: relative;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
    z-index: -1;
}
.rightop img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    margin-bottom: 15px;
    z-index: 1;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.9);
    margin-bottom: 25%;
    border-radius: 10px;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
#falls img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    margin-top: 2px;
    z-index: 1;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}.midown img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
    margin-bottom:25%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
#eye img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    margin-bottom: 20px;
    z-index: 1;
    margin-left: 0px;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}.leftop img{
    width:100%;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0,0.9);
    border-radius: 10px;
    margin-bottom: 25%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}#milky img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    margin-top: 2px;
    z-index: 1;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
.rightbtm img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    z-index: 1;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 15%;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}.leaves img{
    width:100%;
    position: relative;
    margin-top: 15%;
    transition:0.5s ease-in-out;
    z-index: 1;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.9);
    border-radius: 10px;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}
#jog img{
    width:100%;
    position: relative;
    transition:0.5s ease-in-out;
    padding-top: 10px;
    z-index: 1;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
}



.beach img:hover{
   

    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#jenk:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);

}

#tree:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);

}

#falls:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);

}

#eye:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.leftop img:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}

#lizard:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.leaves img:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}

#jog:hover{
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}


    .movie h4{
        color: var(--secondary-color);
        text-align: center;
        font-size: 30px;  
    }
  .mur iframe{
    position:relative;
    right:1%;
    left:0.4%;
    top:-5%;
    display: inline-block;
    flex-direction: column;
    width:100%; 
    height:100px;
     border:0 none;
     border-radius:10px;
     margin:5px;

   
}
  }



   @media(max-width:600px){
    
       #myBtn {
        display: none;
        position: fixed;
        bottom: 0.5%;
        right:0.5%;
        z-index: 99;
        padding:0;
        font-size: 30px;
        border: none;
        outline: none;
        background:linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6));
        box-shadow:   0px 0px 5px 5px #242424;
        color: white;
        cursor: pointer;
        width: 40px;
        height: 40px;
        backdrop-filter: blur(15px);
        border-radius: 50%;
        transition: 0.5s ease-in-out;
        opacity:90%;
      }
      
      #myBtn:hover {
        background: var(--secondary-color);
        transition: 0.5s ease-in-out;
        color: var(--primary-color);
        opacity:100%;
      }
     
}

  
